@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');

/* Styles généraux pour la page TestQuest */
.divTest {
  font-family: 'Handlee', cursive;
  font-size: 1.1em;
  padding: 2em;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Styles pour le titre */
.divTest h1 {
  color: #2b6685;
}

/* Styles pour les inputs */
.inputDiv {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 20em;
}
.divTest input {
  font-family: 'Handlee', cursive;
  font-weight: bold;
  color: #2b6685;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.inputLabel.error {
  color: red;
}

/* Styles pour le bouton de soumission */
.submit-button {
  padding: 10px 20px;
  margin-left: 1em;
  border: none;
  border-radius: 5px;
  background-color: #2b6685;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #098c74;
}

/* Styles pour la section des scores */
.score-section {
  margin-top: 20px;
}

.score-section h3 {
  margin-bottom: 10px;
}

/* Styles pour l'alerte de réponse manquante */
.alert {
  background-color: #f8d7da;
  width: 80%;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #f5c6cb;
}

/* Style flèche remonter */
.scroll-top-icon {
  position: fixed;
  bottom: 20px; /* Position à 20px du bas de la fenêtre de visualisation */
  right: 20px; /* Position à 20px de la droite de la fenêtre de visualisation */
  color: #2b6685;
  cursor: pointer;
}

/* Style appliqué lors du survol du bouton */
.scroll-top-icon:hover {
  color: #098c74; 
}


